@import (css) url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,700,900");
@import (css) url("https://fonts.googleapis.com/css?family=Lato:300,400,700,900");
@import (css) url("https://fonts.googleapis.com/css?family=Comfortaa:300,400");

@import "./typography.less";
@import "./navigation.less";
@import "./landing.less";
@import "./layout.less";

@spacing-xs: .5rem;
@spacing-sm: 1rem;
@spacing-md: 1.5rem;
@spacing-lg: 3rem;
@spacing-xl: 6rem;


:root {
  --white: #ffffff;
  --outter-space: #424b54;
  --silver-pink: #c5baaf;
  --mocasine: #fceade;
  --dark-turquoise: #25ced1;
  --dark-pink: #ea526f;
  --mellow-apricot: #f6b276;
}

html, body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  letter-spacing: 0;
  font-family: @font-primary;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.8;

  background: var(--silver-pink);
}

main {
  padding: @spacing-sm 0 @spacing-xl;
}
